@import "tailwindcss";

@theme {
  --color-ipa-verde: #43523d;
  --color-ipa-dourado: #8b7355; /* Marrom dourado para os textos sobre o creme */
  --color-ipa-creme: #f3f1e9;
  --color-ipa-escuro: #1a2017;
  
}


:root {
  --background: var(--color-ipa-creme);
  --foreground: var(--color-ipa-escuro);
}

body {
  background-color: var(--color-ipa-creme);
  color: var(--color-ipa-escuro);
  font-family: Arial, Helvetica, sans-serif;
}